RobotFilesEditor/ConfigurationSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="ConfigurationSchema"    
    elementFormDefault="qualified" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
 <xs:element name ="ControlersConfiguration">
    <xs:complexType>
      <xs:sequence minOccurs="1">
        <xs:element name ="Controler">
          <xs:complexType>
            <xs:sequence>

              <xs:element name ="FilesToCopy" minOccurs="0" maxOccurs="unbounded">               
                <xs:complexType>                  
                  <xs:sequence>                    
                    <xs:element name ="FilesFilter" minOccurs="0" maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element  name="FilesExtension" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                          <xs:element  name="ContainName" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element> 
                    <xs:element  name="DestinationFolder" type="xs:string"/>
                    <xs:element name="ProgramType" type="xs:string"/>  
                  </xs:sequence>
                </xs:complexType>
              </xs:element>

              <xs:element name="DataToCopy" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name ="FilesFilter" minOccurs="0" maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element  name="FilesExtension" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                          <xs:element  name="ContainName" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element  name="DestinationFolder" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>

              <xs:element name="FilesToRemove" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name ="FilesFilter" minOccurs="0" maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element  name="FilesExtension" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                          <xs:element  name="ContainName" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>                    
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>

            <xs:attribute name="ControlerType" type="xs:string"/>

          </xs:complexType>
        </xs:element>
        
      </xs:sequence>
    </xs:complexType>
  </xs:element> 
</xs:schema>
